@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Noto+Sans:ital@0;1&family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Noto+Sans:ital@0;1&family=Open+Sans&family=Roboto:wght@700&display=swap");

.header-container {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 200%;
  margin: 20px auto;
  border-bottom: 2px solid gray;
  padding: 1rem;
}

.AddContact-container {
  font-family: "Open Sans", sans-serif;
}

.input-box1 {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1%;
}

.input-box2 {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1%;
}
.add-btn {
  width: 15%;
  padding: 0.6rem;
  background-color: #2563eb;
  color: white;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  font-size: larger;
}
.manager-box {
  border-top: 1px solid lightgray;
  margin-bottom: 1%;
  margin-top: 2%;
}

.item {
  margin-top: 1%;
}

.contact-name {
  font-weight: 500;
}

.btn-box {
  text-align: end;
}
.del-btn {
  font-size: xx-small;
  /* display: flex; */
  /* padding: 0.5rem; */
  /* border-radius: 10px; */
  /* background-color: #2563eb; */
  /* color: white; */
  /* border: 0; */
  cursor: pointer;
}

.avatar-img {
  /* size: 10%; */
  /* font-size: 10%; */
  max-width: 8%;
  border-radius: 100%;
  /* padding: 1rem; */
}

.add-contact-btn {
  background-color: #2563eb;
  border: 0;
  padding: 0.8rem;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}
